.footer {
    /* display: flex; */
  font-family: 'Montserrat'!important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--blackie);
    color: #fff;
    padding: 20px;
    text-align: center;
    justify-content: left;
  }
  
  .social-media-icons {
    /* display: flex; */
    display: block;
    justify-content: right;
    align-items: right;
    right: 0;
  }
  
  /* .social-media-icon {
    margin: 0 10px;
  } */

  .social-media-icon {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
  }
  
  .social-media-icon a {
    color: whitesmoke;
  } 